:host {
  padding: 3.75rem;
}

prizm-accordion {
  margin-top: 16px;
}

prizm-doc-code {
  margin-bottom: 1rem;
}

.required {
  color: var(--prizm-index-danger);
}

.optional {
  color: var(--prizm-index-warning);
}
