:host {
  display: contents;
}

.wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  background-color: var(--prizm-v3-background-fill-secondary);
  border-radius: 8px;
  padding: 16px;
}

.colors-block {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.title {
  color: var(--prizm-v3-text-icon-primary);
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
}

.color-container {
  width: 240px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  margin-bottom: 16px;
}

.color-item {
  width: 240px;
  height: 180px;
  background: var(--prizm-v3-text-icon-exception);
  border-radius: 8px;
  overflow: hidden;
  border: 1px var(--prizm-v3-background-stroke) solid;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.color {
  flex: 1 1 0;
  align-self: stretch;
}

.description {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}

.description-item {
  color: var(--prizm-v3-text-icon-primary);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
