:host {
  .container {
    width: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 2px;
    border: 1px solid var(--prizm-border-widget);

    .content {
      padding: 16px;
      background: var(--prizm-bg-body);

      color: var(--prizm-text-main);

      flex: 1;
    }
  }
}
