a {
  color: blue;
}

.examleLinks {
  a {
    pointer-events: none;
  }
}

.warning-introduction {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
}
.warning-agreement {
  color: #ff6600;
  font-style: italic;
}

.addition {
  color: #b1acb5;
  font-style: italic;
}

.disc {
  li {
    list-style-type: disc;
  }
}

.decimal {
  li {
    list-style-type: decimal;
  }
}
