a {
  color: rgb(0, 119, 255);
}

.examleLinks {
  a {
    pointer-events: none;
  }
}

.warning {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
}

.disc {
  li {
    list-style-type: disc;
  }
}

.decimal {
  li {
    list-style-type: decimal;
  }
}
