:host {
  display: contents;
}
.frame-paragraph {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame4-content {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.frame4-info-table {
  width: 100%;
  .frame4-column-group {
    th:nth-child(1),
    th:nth-child(2) {
      width: 12%;
    }

    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5) {
      width: 13%;
    }
  }
}
.frame4-description {
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.frame4-frame25899 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.frame4-frame25900 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.frame4-text066 {
  font-size: 12px;
  font-weight: 700;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 4px;
}
.frame4-text068 {
  font-size: 10px;
  font-weight: 500;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 12px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame4-text070 {
  font-size: 14px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text072 {
  font-size: 12px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame4-frame25898 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.frame4-text143 {
  font-size: 26px;
  font-weight: 800;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text145 {
  font-size: 20px;
  font-weight: 800;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text147 {
  font-size: 16px;
  font-weight: 800;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text149 {
  font-size: 14px;
  font-weight: 800;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame4-frame25902 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.frame4-text220 {
  font-size: 26px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text222 {
  font-size: 20px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text224 {
  font-size: 16px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 24px;
}
.frame4-text226 {
  font-size: 14px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
