<zyfra-multiselect
  [options]="countries"
  [(ngModel)]="selectedCountries"
  defaultLabel="Select a Country"
  optionLabel="name"
  [filter]="true"
>
  <ng-template let-value zyfraMultiSelectTemplate="selectedItems">
    <div class="country-item-value" *ngFor="let option of selectedCountries">
      <div>{{ option.name }}</div>
    </div>
    <div *ngIf="!selectedCountries || selectedCountries.length === 0" class="country-placeholder">
      Select Countries
    </div>
  </ng-template>
  <ng-template let-country zyfraMultiSelectTemplate="item">
    <div>
      <div>{{ country.name }}</div>
    </div>
  </ng-template>
</zyfra-multiselect>
