a {
  color: rgb(0, 119, 255);
}

.italic {
  font-style: italic;
}

.warning-agreement {
  color: #ff6600;
  font-style: italic;
}

.addition {
  color: #b1acb5;
  font-style: italic;
}

.doc-table {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cell {
  border: 1px solid #aab8c6;
  border-radius: 5px;
  padding: 10px;
  flex: 1 1 calc((100% / 3) - 2rem);
}

.disc {
  li {
    list-style-type: disc;
  }
}

.decimal {
  li {
    list-style-type: decimal;
  }
}
