<zyfra-dropdown
  [(ngModel)]="value"
  [options]="options"
  [optionLabel]="optionLabel"
  [placeholder]="placeholder"
  [showClear]="showClear"
  [mini]="mini"
  [editable]="editable"
  (onChange)="onChange($event)"
  (onClick)="onClick($event)"
  (onFocus)="onFocus($event)"
  (onBlur)="onBlur($event)"
  (onShow)="onShow($event)"
  (onHide)="onHide($event)"
></zyfra-dropdown>
<br />
<zyfra-button label="editable true/false" (click)="editable = !editable"></zyfra-button>
<br />
<small>(Значение editable: {{ editable }})</small>
<br />
<small>(Значение mini: {{ mini }})</small>
