.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.x-margin {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.sub-text {
  margin-top: 14px;
  color: var(--prizm-palette-g5);
  margin-bottom: 32px;
  text-align: left;
}
