:host {
  .multiple-menu {
    display: flex;
    height: 900px;
    gap: 30px;
    background-color: var(--prizm-background-fill-secondary);
  }

  section {
    width: 500px;
    height: 100%;

    & > button {
      margin-top: 16px;
    }
  }
}
