:host {
  display: contents;
}
.frame9-text026 {
  font-size: 14px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text038 {
  font-size: 12px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text050 {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text062 {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text088 {
  font-size: 14px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text100 {
  font-size: 12px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text112 {
  font-size: 14px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text124 {
  font-size: 12px;
  font-weight: 600;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text136 {
  font-size: 10px;
  font-weight: 500;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 12px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text162 {
  font-size: 12px;
  font-weight: 500;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text174 {
  font-size: 14px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text186 {
  font-size: 12px;
  font-weight: 400;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-text212 {
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 16px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame9-frame9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame9-info-table {
  width: 100%;

  .frame9-column-group {
    th:nth-child(1),
    th:nth-child(2) {
      width: 12%;
    }

    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5) {
      width: 13%;
    }
  }
}
.frame9-table-container {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
