:host {
  table {
    width: 100%;
  }

  .summary {
    background: #f4f6fb;

    td:first-child {
      font-size: 12px;
    }
  }

  .pagination {
    padding: 0;
  }

  .format {
    &__number {
      text-align: right;
    }
  }
}
