<h2>Demo page @digital-plant sdk</h2>

<div class="test-block">
  <span class="test-block-label"> dropdown </span>

  <zyfra-dropdown-test></zyfra-dropdown-test>
</div>

<div class="test-block">
  <span class="test-block-label"> zyfra-translate </span>

  <button (click)="toggleTranslate()">Toggle translate</button>

  <div>
    {{ 'sdk.translateKey' | zTranslate }}
  </div>
</div>

<div class="test-block">
  <span class="test-block-label"> calendar </span>

  <zyfra-calendar-test></zyfra-calendar-test>
</div>
