.main__container {
  height: 50vh;
  border: 1px solid black;
}
.test-block {
  position: relative;
  margin: 20px 8px;
  border: 1px solid #7887a5;
  padding: 30px 6px 6px;

  &-label {
    position: absolute;
    top: -12px;
    left: 3px;
    font-size: 16px;
    padding: 4px 6px;
    border: 1px solid #7887a5;
    background: white;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
