a {
  color: rgb(0, 119, 255);
}

.disc {
  li {
    list-style-type: disc;
  }
}

.decimal {
  li {
    list-style-type: decimal;
  }
}

.table {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cell {
  flex: 1 1 calc((100% / 3) - 2rem);
}
