a {
  color: rgb(0, 119, 255);
}

.disc {
  li {
    list-style-type: disc;
  }
}

.decimal {
  li {
    list-style-type: decimal;
  }
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cell {
  max-width: 33%;
}
